<div class = "project_container">
  <div class = "project">
    <div class="project_item">
      <%= link_to project.name, project_todos_path(project.id) %>
    </div>

    <div class="project_options">
      <%= link_to(project, method: :delete) do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>

  <hr>
</div>