<% provide(:title, "Home") %>
<% provide(:button_text, "Create Project") %>
<%= render 'project_form' %>

<hr>

<% if @projects.any?%>
  <div class = "projects">
    <%= render @projects %>
  </div>
  <%= will_paginate @projects %>
<% end %>