<div class = "tag">
  <span class = "tag_item">
    <%= tag.name %>
  </span>

  <div class="tag_item">
    <%= link_to(tag_path(tag.id), method: :delete) do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
</div>