<div class = "project_form">
  <%= form_with(model: @tag, local:true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>