<% provide(:title, "Tags") %>
<% provide(:button_text, "Create Tag") %>
<%= render 'tag_form' %>

<hr>
<% if @tags.any?%>
  <div class = "tags">
    <%= render @tags %>
  </div>
  <%= will_paginate @tags %>
<% end %>