<aside class = "filter_form">
  <%= form_tag project_todos_path(@project.id), method: :get do %>
    <div class = "filter_form_group">
      <label>Filter by TAG:</label>
        <% @all_tags.each do |tag| %>
          <div class = "filter_form_field">
            <label> <%= tag.name %> </label>
            <%= check_box_tag "filter[tags][#{tag.id}]", params["filter[tags][#{tag.id}]"] %>
          </div>
        <% end %>
    </div>

    <div class = "filter_form_group">
      <label>Filter by Status:</label>

      <div class = "filter_form_field">
        <label>To Do</label>
        <%= check_box_tag "filter[completed][todo]", params["filter[completed][todo]"] %>
      </div>

      <div class = "filter_form_field">
        <label>Done</label>
        <%= check_box_tag "filter[completed][done]", params["filter[completed][done]"] %>
      </div>
    </div>

    <div class = "filter_form_group">
      <label>Filter by Date:</label>
      <div class = "filter_form_field">
        <label>From</label>
        <%= date_field "filter[date_from]", params["filter[date_from]"] %>
      </div>
      <div class = "filter_form_field">
        <label>To</label>
        <%= date_field "filter[date_to]", params["filter[date_to]"] %>
      </div>
    </div>

    <%= submit_tag "Filter" %>
    <div>
      <%= link_to "Clear Filters", project_todos_path(@project.id) %>
    </div>

  <% end %>
</aside>