<div class="todo_container">
  <div class = "todo" id="div_todo_id_<%= todo.id %>">
    <div class = "todo_field">
      <!--  Checkbox Field that patches the database-->
      <%= form_for todo, url: project_todo_path(@project.id, todo.id), data: { remote: true }, html: {id: "todo_checkbox"} do |f| %>
        <%= f.check_box :completed, :onclick => "$('#submit_checkbox_#{todo.id}').click()"%>
        <%= f.submit "Update", id: "#{"submit_checkbox_#{todo.id}"}", style:"#{'display: none'}" %>
      <% end %>
    </div>

    <span class = "todo_field">
      <% if todo.tags.any? %>
        <% todo.tags.each do |tag| %>
          <div class = "todo_tag_container">
            <span class = "todo_tag_text">
              <%= "#{tag.name}" %>
            </span>
          </div>
        <% end %>
      <% end %>
    </span>

    <span id="todo_field_content" class = "todo_field">
      <%= todo.content %>
    </span>

    <% if todo.deadline %>
      <span id="todo_field_deadline" class = "todo_field">
        <%= todo.deadline %>
      </span>
    <% end %>

    <div class="todo_options">
      <div class="todo_option">
        <%= link_to(edit_project_todo_path(@project.id, todo.id)) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </div>

      <div class="todo_option">
        <%= link_to(project_todo_path(@project.id, todo.id), method: :delete,
                    data: { remote: true }) do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

</div>