<div class = "todo_form">
  <%= form_with(model: [@project, @todo], local:true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="todo_form_field">
      <button type="button" class="tags_collapsible">
        <%= f.label :tags %>
        <i id="tags_collapsible_button_icon" class="fa fa-caret-down"></i>
      </button>
      <div class="tags_collapse_content">
        <% @all_tags.each do |t| %>
          <div>
            <%= label_tag t.name %>
            <%= check_box_tag "tags[#{t.id}]", value = "1", checked = @todo_tags.include?(t.id) ? true : false %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="todo_form_field">
      <%= f.label :content %>
      <%= f.text_field :content, placeholder: "Your new todos...", autocomplete: "off" %>
      <div id = "todo_content_suggestions">
      </div>
    </div>

    <div class="todo_form_field">
      <%= f.label :deadline %>
      <%= f.date_field :deadline %>
    </div>

    <div class="todo_form_field">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
  <% end %>


  <script>
    //$(document).on('turbolinks:load', function() {
      /* collapsable tags code */
      var collapse_div = document.getElementsByClassName("tags_collapsible");
      var button = document.getElementById("tags_collapsible_button_icon");
      var i;
      for (i = 0; i < collapse_div.length; i++) {
          collapse_div[i].addEventListener("click", function() {
              debugger
              var content = this.nextElementSibling;
              if (content.style.display === "block") {
                  content.style.display = "none";
                  button.className = "fa fa-caret-down"
              } else {
                  content.style.display = "block";
                  button.className = "fa fa-caret-up"
              }
          });
      }
    //})

    $('#todo_content').on("change paste keyup", function(e) {
        var todo_pair = <% if @all_todos.nil? %>
        <%= [] %>
        <% else %>
        <%= raw @all_todos.map { |todo| [todo.id, todo.content] } %>
        <% end %>

        let suggestions_field = document.getElementById("todo_content_suggestions");
        if (todo_pair.length > 0 && e.target.value.length > 0) {
            let suggestions = todo_pair.filter(n => n[1].startsWith(e.target.value));
            if (suggestions.length > 0) {
                suggestions_field.innerHTML = "";
                suggestions.forEach(function (item, index) {
                    var buttonTag = document.createElement("button");
                    buttonTag.class = "todo_sugg_button";
                    buttonTag.type = "button";
                    buttonTag.onclick = function() {scrollIntoTodo(this, item[0]);};
                    buttonTag.innerHTML = item[1];
                    suggestions_field.appendChild(buttonTag);
                });
            } else {
                suggestions_field.innerHTML = "";
            }
        } else {
            suggestions_field.innerHTML = "";
        }
    });

    function scrollIntoTodo(e, todo_id) {
        var element = document.querySelector("#div_todo_id_"+todo_id);
        // smooth scroll to element and align it at the bottom
        element.scrollIntoView({ behavior: 'smooth', block: 'end'});
    }
  </script>
</div>