<% provide(:title, "Todos") %>
<% provide(:button_text, "Add Todo") %>

<%= render 'todo_form' %>

<hr>

<div class = "flex_row">

  <div class="side">
    <%= render 'filter_form' %>
  </div>

  <div class="main">
    <% if @todos.any?%>
      <div class = "todos">
        <%= render @todos %>
      </div>
    <%= will_paginate @todos %>
    <% end %>
  </div>
</div>