// Place all the styles related to the Todos controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex_row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}
.filter_form {
  text-align: left;
}



.main {
  flex: 80%;
  background-color: white;
  justify-content: center;
}

.todo_container {
  width: 100%;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;

  .todo {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;

    .todo_tag_container {
      overflow: hidden;
      margin-right: 5px;
      vertical-align: text-bottom;
      padding: 2px 8px;
      border-radius: 20px;
      background-color: #6ba5d6;
    }

    .todo_field, #todo_checkbox {
      flex-direction: row;
      display: flex;
      margin-left: 5px;
    }

    #todo_field_content {
      font-size: 18px;
    }

    #todo_field_deadline {
      overflow: hidden;
      vertical-align: text-bottom;
      padding: 2px 8px;
      border-radius: 20px;
      background-color: lightgrey;
    }

    .todo_options {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      .todo_option {
        font-size: 17px;
      }
    }
  }
}

.todo_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .todo_form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .tags_collapsible {
      cursor: pointer;
    }

    .tags_collapse_content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
    }

    #todo_content_suggestions {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: whitesmoke;
    }
  }
}