<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Todos", root_path , id: "logo" %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Projects", root_path %></li>
        <li><%= link_to "Tags", tags_path %></li>
      </ul>
    </nav>
  </div>
</header>