<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | TodoApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript"></script>
    <%= render 'layouts/rails_default_head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container-fluid">
      <div class="center text_center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
